<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874728226088-8cblcrj0vt6p47kg5t2qv6dv0io6jlca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874728226088-8cblcrj0vt6p47kg5t2qv6dv0io6jlca</string>
	<key>API_KEY</key>
	<string>AIzaSyAFSohORfR9w0Mbq-_UqeCPcdX8cIaHmAk</string>
	<key>GCM_SENDER_ID</key>
	<string>874728226088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weightTracker</string>
	<key>PROJECT_ID</key>
	<string>weight-tracker-ff370</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-tracker-ff370.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874728226088:ios:084c02f571996e1d84a41d</string>
</dict>
</plist>